:root {
  /* Color */
  --primary-color: #3a1503;
  --btn-color: #ffffff;
  --heading-color: #fff1d0;
  --black-color: #2e2828;

  /* Font */
  --heading-font: "Montserrat", sans-serif;
  --main-font: "Roboto", sans-serif;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1420px;
}

.section-margin {
  margin-top: 250px;
}

/* Navbar Start */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.navbar.active {
  height: 100px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(30, 111, 92, 0.137);
}

.navbar .container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .menu-wrapper .menu {
  margin: 0 auto;
}

.navbar .logo {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--primary-color);
}

.navbar .logo span {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
  color: var(--heading-color);
}

.navbar .menu a {
  font-family: var(--heading-font);
  font-size: 18px;
  font-weight: 400;
  color: #1e1b1b99;
  margin: 0 20px;
}

.navbar .menu a.active {
  color: var(--primary-color);
  font-weight: 800;
}

.navbar .icons i {
  font-size: 25px;
}

.navbar .icons .icon {
  margin-right: 20px;
  color: var(--primary-color);
}

.navbar .menuOpen {
  font-size: 40px;
  color: var(--primary-color);
}

.menuOpen,
.menuClose {
  display: none;
}

/* Navbar End */

/* Home Start */

.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
  padding: 60px 95px;
  background-color: var(--primary-color);
}

.home .content-right {
  max-width: 500px;
}

.home .swrapper {
  padding-bottom: 60px;
}

.home .heading {
  font-family: var(--heading-color);
  font-weight: 800;
  font-size: 50px;
  color: #ece7b4;
}

.home .subheading {
  font-size: 20px;
  font-weight: 300;
  color: #e2e2e2;
  width: 460px;
  margin-top: 15px;
}

.home .btn-home {
  margin-top: 120px;
}

.btn-home .btn-explore {
  padding: 16px 24px;
  background-color: var(--btn-color);
  color: var(--primary-color);
  border-radius: 8px;
  font-family: var(--heading-color);
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--btn-color);
}

.btn-home .btn-learn {
  margin-left: 40px;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: var(--heading-color);
  font-weight: 600;
  font-size: 18px;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
}

.btn-home .btn-explore:hover {
  background-color: white;
}

.btn-home .btn-learn:hover {
  background-color: var(--btn-color);
  color: var(--primary-color);
}

.swiper img {
  display: block;
  margin: auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 1;
  border: 2px solid #e6dd3b7a;
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--btn-color);
}

/* Home End */

/* Panel Start */

.panel {
  margin-top: 250px;
}

.panel .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.panel .item {
  display: flex;
  align-items: center;
}

.item .icon {
  background-color: var(--primary-color);
  padding: 25px;
  border-radius: 30px 5px;
}

.item .icon i {
  color: white;
  font-size: 40px;
}

.item .text-panel {
  margin-left: 30px;
}

.text-panel .title {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 25px;
  color: #2e2828;
}

.text-panel .subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #2e2828;
  margin-top: 10px;
}

/* Panel End */

/* Service Start */

.service {
  margin-top: 250px;
}

.service .container {
  margin: auto;
}

.service .row1 {
  text-align: center;
}

.service .label {
  font-family: var(--heading-font);
  font-weight: 800;
  color: var(--primary-color);
}

.service .title {
  font-family: var(--heading-font);
  font-size: 30px;
  color: #1e1b1b;
  margin-top: 20px;
}

.service .row2 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service .row3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row2 .img-box,
.row3 .img-box {
  position: relative;
  max-width: 337px;
}

.row2 .img-box img,
.row3 .img-box img {
  width: 100%;
}

.row2 .detail,
.row3 .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 21, 3, 0.52);
  backdrop-filter: blur(13px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0% at 50% 50%);
  transition: 0.3s ease-in-out;
}

.row2 .img-box:hover .detail,
.row3 .img-box:hover .detail {
  clip-path: circle(70.7% at 50% 50%);
  transition: 0.3s ease-in-out;
}

.row2 .detail a,
.row3 .detail a {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 25px;
  color: #ece7b4;
}

/* Service End */

/* Banner Start */

.banner {
  margin-top: 250px;
}

.banner .container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner .banner-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner .banner-right .img-box {
  max-width: 670px;
}

.banner .banner-left .img-box {
  max-width: 635px;
}

.banner-left .img-box img,
.banner-right .img-box img {
  width: 100%;
}

/* Banner End */

/* Product Start */

.product {
  margin-top: 250px;
}

.product .container {
  margin: auto;
}

.product .container .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .row1 .label {
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--primary-color);
}

.product .row1 .heading {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
  margin-top: 15px;
  max-width: 735px;
}

.product .btn-slider {
  color: var(--btn-color);
  font-size: 60px;
}

.product .btn-slider i {
  cursor: pointer;
}

.product .row2 {
  margin-top: 100px;
}

.product .card-product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 337px;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 50px 10px;
  padding: 35px 25px;
}

.product .card-product .img-product {
  margin: auto;
}

.card-product .card-body {
  margin-top: 50px;
}

.card-product .product-name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #ece7b4;
}

.card-product .star {
  margin-top: 10px;
  font-size: 24px;
  color: yellow;
}

.card-product .stock {
  color: white;
  margin-top: 5px;
}

.card-product .price {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
  margin-top: 20px;
}

.card-product .btn-card {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 25px;
  background: yellow;
  border-radius: 30px 0px 50px;
}

.card-product .btn-card:hover {
  background-color: var(--btn-color);
}

.card-product .btn-card i {
  font-size: 35px;
  color: var(--primary-color);
}

/* Product End */

/* Testi Start */

.testi {
  margin-top: 250px;
}

.testi .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.testi .container .content-left {
  max-width: 450px;
}

.testi .container .content-right {
  max-width: 750px;
}

.testi .content-left .label {
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--primary-color);
}

.testi .content-left .heading {
  margin-top: 20px;
  font-family: var(--heading-color);
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.testi .content-left .subheading {
  margin-top: 30px;
  font-size: 20px;
  color: var(--black-color);
}

.testi .card-testi {
  background: var(--primary-color);
  border-radius: 50px 10px;
  padding: 60px 30px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-testi .date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.card-testi .profile {
  text-align: center;
}

.card-testi .profile .name {
  margin-top: 10px;
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 20px;
  color: #ece7b4;
}

.card-testi .profile .location {
  color: white;
  margin-top: 10px;
}

.card-testi .card-body {
  /* display: block; */
  margin: 42px auto;
  padding-left: 10px;
  width: 460px;
}

.card-testi .card-body i {
  font-size: 50px;
  color: var(--heading-color);
}

.card-testi .card-body .text-testi {
  margin-left: 20px;
  color: white;
}

/* Testi End */

/* Contact Start */

.contact .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .content-left .label {
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--primary-color);
}

.contact .content-left .heading {
  margin-top: 20px;
  font-family: var(--heading-color);
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.contact .thumbnail-contact {
  margin-top: 50px;
  max-width: 600px;
  max-height: 410px;
}

.contact .thumbnail-contact .img-contact {
  width: 100%;
  height: 100%;
}

.contact .content-right .form-group {
  display: flex;
  flex-direction: column;
}

.contact .form-group input,
.contact .form-group textarea {
  width: 700px;
  padding: 20px 40px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin-bottom: 20px;
}

.contact .form-group input::placeholder,
.contact .form-group textarea::placeholder {
  color: white;
}

.contact .btn-contact {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: var(--heading-color);
  color: var(--primary-color);
  font-size: 18px;
  border: 1px solid var(--black-color);
}

.contact .btn-contact:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

/* Contact End */

/* Footer Start */

.footer {
  background: var(--primary-color);
  border-radius: 50px 50px 0px 0px;
}

.footer .container {
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer .container .row1 {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.footer .content-right {
  display: flex;
  justify-content: space-between;
}

.footer .content-left .logo {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 700;
  color: var(--heading-color);
}

.footer .content-left .logo span {
  font-family: var(--heading-font);
  font-size: 30px;
  font-weight: 700;
  color: yellow;
}

.footer .content-left .email {
  font-family: var(--heading-font);
  color: white;
  margin-top: 30px;
  display: block;
}

.footer .content-left .phone {
  font-family: var(--heading-font);
  color: white;
  margin-top: 20px;
}

.footer .icons {
  margin-top: 50px;
}

.footer .icons i {
  font-size: 45px;
  color: var(--btn-color);
}

.footer .content-right > div {
  margin: 0 50px;
}

.footer .content-right .col4 {
  width: 200px;
}

.footer .content-right h3 {
  font-family: var(--heading-font);
  font-size: 25px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 30px;
}

.footer .content-right li {
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: white;
}

.footer .content-right .address {
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: white;
}

.footer .row2 {
  text-align: center;
  color: white;
}

.footer a {
  color: yellow;
}

/* Footer End */

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar .container {
    padding: 0 20px;
  }

  .navbar .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0.3% at 100% 0);
    transition: 0.3s ease-in-out;
    z-index: 20 !important;
  }

  .navbar .menu-wrapper.active {
    clip-path: circle(141.3% at 100% 0);
    transition: 0.3s ease-in-out;
  }

  .menuOpen,
  .menuClose {
    display: initial;
  }

  .navbar .icons i {
    color: var(--btn-color) !important;
  }

  .navbar .menu a {
    display: block;
    margin: 50px 0;
    color: var(--heading-color);
  }

  .navbar .menu a.active {
    color: var(--btn-color);
  }

  .navbar .menuClose {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    color: var(--btn-color);
  }

  .home {
    padding: 0 20px;
  }

  .home .container {
    flex-direction: column;
  }

  .home .heading {
    font-size: 46px;
  }

  .home .subheading {
    font-size: 18px;
  }

  .swiper img {
    margin-top: 100px;
    max-width: 300px;
    width: 100%;
  }

  .panel .container {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .panel .item {
    margin-top: 20px;
  }

  .item .icon {
    padding: 20px;
    border-radius: 20px 5px;
  }

  .item .icon i {
    font-size: 30px;
  }

  /* Service Start */

  .service,
  .panel {
    margin-top: 200px;
  }

  .service .title {
    font-size: 26px;
  }

  .service .row2,
  .service .row3 {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Service End */

  /* Banner Start */

  .banner .container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Banner End */

  /* Product Start */

  .product .container {
    padding: 0 20px;
  }

  .product .row1 {
    flex-wrap: wrap;
  }

  .product .btn-slider {
    margin-top: 30px;
    margin-left: auto;
  }

  .product .card-product {
    height: 498px;
    align-items: center;
  }

  .product .card-product .img-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: pink; */
    width: 200px;
    height: 230px;
    margin: auto;
  }

  .product .card-product img {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .product .row2 {
    margin-top: 80px;
  }

  /* Product End */

  /* Testi Start */

  .testi .container {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .testi .container .content-right {
    margin-top: 50px;
    width: 100%;
  }

  .testi .card-testi {
    background-color: var(--primary-color);
    height: 300px;
  }

  .card-testi .profile {
    margin: -110px auto;
  }

  .card-testi .card-body {
    margin: auto;
  }

  /* Testi End */

  /* Contact Start */

  .contact .container {
    flex-direction: column;
    padding: 0 20px;
  }

  .contact .heading {
    font-size: 26px;
  }

  .contact .thumbnail-contact {
    margin: 0 auto;
    margin-top: 50px;
  }

  .contact .form-group {
    margin-top: 50px;
  }

  /* Contact End */

  /* Footer Start */

  .footer .row1 {
    flex-wrap: wrap;
  }

  .footer .container {
    padding: 0 20px;
  }

  .footer .content-right {
    flex-wrap: wrap;
  }

  .footer .content-right > div {
    margin: 0;
    margin-top: 20px;
    margin-right: 40px;
  }

  /* Footer End */
}

@media screen and (max-width: 576px) {
  .home .container {
    margin-top: 150px;
    padding: 40px 30px;
  }

  .home .heading {
    font-size: 30px;
  }

  .home .subheading {
    font-size: 16px;
    width: 250px;
  }

  .home .btn-home {
    margin-top: 80px;
  }

  .btn-home .btn-explore {
    font-size: 12px;
    padding: 14px 16px;
  }

  .btn-home .btn-learn {
    font-size: 12px;
    margin-left: 20px;
    padding: 16px 24px;
  }

  .swiper img {
    margin-top: 100px;
    max-width: 200px;
    width: 100%;
  }

  /* Banner Start */

  .banner {
    margin-top: 150px;
  }

  .banner .container {
    padding: 0 10px;
  }

  .testi .card-testi-img {
    width: 70px;
  }

  .testi .card-testi {
    padding: 40px 10px;
  }
  .card-testi .profile {
    margin: -70px auto;
  }

  .card-testi .card-body {
    width: 200px;
  }

  /* Banner End */

  /* Contact Start */

  .contact .label {
    font-size: 16px;
  }

  .contact .heading {
    font-size: 20px;
  }

  .contact .content-left .thumbnail-contact {
    width: 100%;
  }

  .thumbnail-contact img {
    width: 100%;
  }

  .contact .content-right {
    width: 100%;
  }

  .contact .form-group input,
  .contact .form-group textarea {
    width: 100%;
    padding: 10px 20px;
  }

  /* Contact End */

  /* Footer Start */

  .footer.section-margin {
    margin-top: 150px;
  }

  .footer {
    border-radius: 30px 30px 0px 0px;
  }

  .footer .container .content-left {
    display: block;
    margin: 0 auto;
  }

  .footer .container .content-right {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /* Footer End */
}
